@import "bootstrap";
.alert-info {
  text-align: center;
}
body {
  padding-bottom: 40px;
  background-image: url(wc2.png);
  background-size: 100% 120%;
  background-attachment: fixed;
}

.company {
  color: white;
}

ul{
  color: white;
}

.Attendances {
  color: black;
}
